* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 0.8rem;
  font-family: "Spartan", sans-serif;
}

.names_container {
  border: 2px inset black;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
}

.name_btn {
  border: 1.5px solid white;
  display: inline-block;
  margin: 2px 2px;
  background-color: black;
  color: aliceblue;
  font-size: 1rem;
  padding: 2px 2px;
}
